@media only screen and(min-width: 862px) and (max-width: 1278px) {
    .container-certif {
        .content-certif {
            width: 100%; 
            padding-left: 9vw;
            grid-template-columns: repeat(3, 1fr);

            .card {
                width: 39vw;
            }
        }
    }
}

@media only screen and(max-width: 861px) {
    .sayHello {
        display: none !important;
    }
    .container-certif {
        .content-certif {
            width: 100%;
            padding-left: 12vw;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and(max-width: 562px) {
    .sayHello {
        display: none !important;
    }
    .container-certif {
        .content-certif {
            width: unset;
            padding-left: 18vw;
            padding-right: 10vw;
            grid-template-columns: repeat(1, 1fr);

            .card {
                width: 81vw;

                h2 {
                    font-size: 5vw;
                }

                p {
                    font-size: 4vw;
                }
            }
        }
    }
}

@media only screen and(max-height: 400px){
    .container-certif {
        .content-certif {
            width: unset;
            left: 77vw;
        }
    }
}