@media only screen and(min-width: 1847px) {
    .sd-blue{
        .container {

            .container-content {
                .content { 
                    span {  
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 1846px) {  
    header {
        button {
            position: fixed;
            left: 47%;
            transform: translate(-50%, 0px);
        }
    }
    
}

@media only screen and(max-width: 861px) {
    .sd-blue {
        position: relative;
        width: 100%;
        height: 50vh;
        top: 50%;
    }

    header {
        .logo {
            font-size: 4vw;
        }

        .sayHello {
            font-size: 2.8vw;
            color: black;
        }
    }

    .container {

        .frame {
            width: 100%;
            height: 57vw;
            background-image: url("../../public/asset/png/frame.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 55vw;
        }

        .content-myskill {
            width: 54vw; 
            position: fixed;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: flex;

            .skill {
                width: 40vw;
                height: 40vw;
                border: 1px solid #A3423C;
                position: absolute;
                top: 7vw;
                left: 16%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2vw;
                font-size: 1.5vw;
                color: #A3423C;
            }
        }

        .content {
            width: auto;
            height: 70vh;
            flex-direction: column;
            justify-content: center;

            .left-content{ 
                width: 50vw;
                height: 100%;
                border-top: 2px solid black;
                border-left: 2px solid black;
                border-right: 2px solid black;
                border-bottom: unset; 
                padding: 0; 

                .intro-text {
                    margin-top: 5vh;
                    margin-left: 4vh;
                    margin-right: 4vh;

                    h1 {
                        margin-bottom: 2vh;
                        font-size: 8vw;

                        span {
                            font-family: Calibri;
                        }
                    }

                    p {
                        font-family: 'inter';
                        font-size: 2.8vw;

                        &:last-child{
                            font-family: 'inter-light';
                            font-size: 2vw;
                        }
                    }

                }
            }

            .right-content {
                width: 50vw; 
                height: 100%;
                border-top: unset;
                border-left: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
                padding: 0;
            }
        }

        .nav {

            .about {
                font-size: 2.5vw; 
                left: 25%;
            }

            .myskill {
                font-size: 2.5vw; 
                right: 25%;
            } 

            .sosmed {
                svg {
                    width: 5vw;  
                }
                span { 
                    
                }
            }
        }
    }
}

@media only screen and(max-width: 562px) {

    header {
        .logo {
            font-size: 5vw;
        }

        .sayHello {
            font-size: 3.8vw;
            color: black;
        }
    }

    .container {

        .frame {
            width: 100%;
            height: 96vw;
            background-image: url("../../public/asset/png/frame.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 65vw 100vw;
        }

        .content-myskill {
            width: 66vw; 
            position: fixed;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            display: flex;

            .skill {
                width: 47vw;
                height: 75vw;
                border: 1px solid #A3423C;
                position: absolute;
                top: 7vw;
                left: 16%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2vw;
                font-size: 2.2vw;
                color: #A3423C;
            }
        }

        .content { 
            height: 100vw;

            .left-content{ 
                .intro-text {
                    margin-top: 3vh;
                    margin-left: 3vh;
                    margin-right: 3vh;
                    h1 {
                        margin-bottom: 2vh;
                        font-size: 9vw;

                        span {
                            font-family: Calibri;
                        }
                    }

                    p {
                        font-family: 'inter';
                        font-size: 3.5vw;

                        &:last-child{
                            font-family: 'inter-light';
                            font-size: 3vw;
                        }
                    }

                }
            }
        }

        .nav {
            .about {
                font-size: 2.5vw; 
                left: 25%;
            }

            .myskill {
                font-size: 2.5vw; 
                right: 25%;
            }

            .work { 
                font-size: 2.5vw;
            }

            .repo {
                font-size: 2.5vw;
            }

            .sosmed {
                svg {
                    width: 5vw;
                    margin: 4px auto; 
                }
            }
        }
    }
}