@media only screen and(min-width: 862px) {
    .repo-responsive {
        height: 224vh;
    }
}

@media only screen and(max-width: 861px) {
    .repo-responsive {
        height: 320vh;

        .ropes {
            top: 23vw;
        }
        .content-slider {
            left: 1vw;
            top: 20vw;

            .card {
                width: 50vw; 
                height: 25rem;
                padding: 5.5vw;

                .clothspin {
                    width: 58vw;
                }

                h2 {
                    font-size: 4vw;
                }

                p {
                    font-size: 2vw;
                }

                div {
                    button {
                        width: 32vw;
                        font-size: 4vw;
                    }

                    svg {
                        width: 3.5vh;
                        height: auto;
                        margin-top: unset;
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 562px) {
    .repo-responsive {
        height: 355vh;

        .ropes {
            top: 38vw;
        }
        .content-slider {
            left: 1vw;
            top: 35vw;

            .card {
                width: 80vw; 
                height: 40vh;
                padding: 5.5vw;

                .clothspin {
                    width: 58vw;
                }

                h2 {
                    font-size: 5vw;
                }

                p {
                    font-size: 3.5vw;
                }

                div {

                    button {
                        width: 32vw;
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}