@media only screen and(max-width: 861px) {
    .repo-responsive {
        // height: 320vh;
        .repo__container {
            .repo__header {
                width: unset;
                text-align: left;
    
                .fc-outro-header {
                    width: 84vw;
    
                    h1 {
                        font-size: 12vw;
                    }
                }
                .fc-action-button .fc-btn_store-ico {
                    width: 159px;
                    height: 50px;
                    min-width: unset;
                    margin: 15px 5px;
    
                    .fc-btn_store-text {
                        span {
                            font-size: small;
                        }
                    }
                }
            }
            .repo__content{
                .repo_container_main {
                    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
                }
            }
        }
        .ropes {
            top: 23vw;
        }
        .repo__content {
            .repo__content_image {
                img {
                    width: 100%;
                }
            }
        }
        .content-slider {
            left: 1vw;
            top: 20vw;

            .card {
                width: 50vw; 
                height: 25rem;
                padding: 5.5vw;

                .clothspin {
                    width: 58vw;
                }

                h2 {
                    font-size: 4vw;
                }

                p {
                    font-size: 2vw;
                }

                div {
                    button {
                        width: 32vw;
                        font-size: 4vw;
                    }

                    svg {
                        width: 3.5vh;
                        height: auto;
                        margin-top: unset;
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 562px) {

    .repo__container {
        .repo_content {
            width: 80vw;

            .repo_content_cover {
                height: 30vh !important;
            }
        }
    }

    .repo-responsive {
        // height: 355vh;

        .ropes {
            top: 38vw;
        }
        .content-slider {
            left: 1vw;
            top: 35vw;

            .card {
                width: 80vw; 
                height: 40vh;
                padding: 5.5vw;

                .clothspin {
                    width: 58vw;
                }

                h2 {
                    font-size: 5vw;
                }

                p {
                    font-size: 3.5vw;
                }

                div {

                    button {
                        width: 32vw;
                        font-size: 4vw;
                    }
                }
            }
        }
    }
}