.bg-repo{
    width: 400vh;
    height: 100%;
    background-image: url('../public/asset/webp/bg-repo.webp');
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
    position: fixed;
    opacity: 0.12;
}

.bg-star-repo{
    width: 400vh;
    height: 100%;
    background-image: url('../public/asset/png/star-star.png');
    background-size: 450vh;
    background-repeat: repeat;
    position: fixed; 
}

.bg-landscape {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('../public/asset/png/bg-landscape.png');
    background-position: bottom;
    background-repeat: repeat;
    opacity: 0.3;
}

.bg-darkYellow {
    width: 100%;
    height: 100%; 
    position: fixed;
    background-color: #FFEEBB;
    transition: 1s ease;
}

.bg-lightYellow {
    width: 100%;
    height: 100%; 
    position: fixed;
    background-color: #FFFCDC;
    transition: 1s ease;
}

.bg-dark {
    width: 100%;
    height: 100%; 
    position: fixed;
    background-color: #171313;
    transition: 1s ease;
}

.pattern-line {
    width: 100%;
    height: 100%;
    background-image: url("../public/asset/pattern-bg/pattern-line.png");
    background-position: 20vh ;
    background-repeat: repeat;
    opacity: 0.2;
    position: fixed;
}