@font-face {
    font-family: 'inter';
    src: url('/asset/fonts/Inter-Bold.ttf');
  }
  
@font-face {
    font-family: 'inter-light';
    src: url('/asset/fonts/Inter-Light.ttf');
}

@font-face {
    font-family: 'inter-semi';
    src: url('/asset/fonts/Inter-SemiBold.ttf');
}