.sd-white{
    position: absolute;
    background-color: #D9D9D9;
    width: 50%;
    height: 100vh;
    left: 0;

    .container {
        position: relative;
        height: 100%;
        display: flex;
        padding-left: 50px;

        .container-vertical {  
            position: relative; 
            height: 100%;
    
            h2 {
                position: relative;
                top: 45%;
                left: 5px;
                transform: rotate(269deg);
                display: inline-block;
            }
            
            .icons {
                position: absolute;
                bottom: 13%;
                left: 35%;
    
                svg {
                    width: 1.5em;
                    height: 1.5em;
                    margin: 20px auto;
                    display: block;
                }
            }
    
            &::after {
                content: "";
                position: absolute;
                bottom: 0px;
                left: 48%;
                width: 3px;
                height: 13%;
                background-color: #000;
            }
        }
    
        .container-content { 
            position: relative;
            padding-left: 10vw;

            .content {
                position: relative;
                top: 25%; 
                height: 55vh;
                display: flex;
                border-left: 2px solid #000;
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
                padding: 2rem;
                flex-direction: column;
                justify-content: space-evenly;

                h2 {
                    font-family: 'inter';
                    font-size: 4vw;

                    span {
                        font-family:'Gill Sans';
                    }
                }

                p {
                    font-size: 2vw;
                    font-family: 'inter-semi';

                    &:last-child {
                        font-size: 1.4vw;
                        font-family: 'inter-light';
                        line-height: 1.6em;
                    }
                }
            }
        }

        .about {
            position: absolute;
            right: 25vh;
            bottom: 3vh;
        }
    }
}

header{
    padding-left: 50px;
    .sayHello, .logo, button{
        margin-top: 40px;
        position: absolute;
        font-family: 'inter';
        font-size: 5vh;
        z-index: 1;
    }

    .sayHello {
        color: white;
        font-size: 2.5vh;
        left: unset;
        right: 90px;
    }

    button {
        font-size: medium;
        left: 48.5%;
    }
}

.sd-blue{
    position: absolute;
    background-color: #72C4FE;
    width: 50%;
    height: 100vh;
    right: 0;
    color: white;

    .container {
        position: relative; 
        height: 100%;
        display: flex;
        padding-right: 50px;


        .container-vertical{ 
            position: relative;
            height: 100%;

            h2{
                position: relative;
                top: 45%;
                left: 5px;
                transform: rotate(90deg);
                display: inline-block;
            }
        }

        .container-content { 
            position: relative;
            width: 100%;
            height: 100%;

            .content {
                position: relative;
                top: 25%;
                width: 84%;
                height: 55vh;
                border-right: 2px solid white;
                border-top: 2px solid white;
                border-bottom: 2px solid white;

                span {
                    left: -3px !important;
                    overflow: unset !important;
                    top: -13vh !important;
                    margin: 0 !important;

                    img {
                        top: unset !important;
                        right: unset !important;
                        width: unset !important;
                        height: unset !important;
                        min-width: unset !important;
                        min-height: unset !important;
                    }
                }
            }

            .about {
                position: absolute;
                left: 25vh;
                bottom: 3vh;
            }
        }
    }
}

@media only screen and(min-width: 1847px) {
    .sd-blue{
        .container {

            .container-content {
                .content { 
                    span {  
                    }
                }
            }
        }
    }
}

@media only screen and(max-width: 1846px) {
    .sd-white{
        .container {
            .container-content { 
                .content {
                }
            }
        }
    }
    
    .sd-blue{ 
        .container { 
            .container-content { 
                .content { 
                    span { 
                        left: 0 !important;
                    }
                }
            }
        }
    }

    header {
        button {
            position: fixed;
            left: 48%;
        }
    }
    
}

@media only screen and(max-height: 861px) {
    
}