// spesifik style

header{ 
    width: 100%;
    position: fixed;
    z-index: 3;

    .sayHello, .logo, button{
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        position: absolute;
        font-family: 'inter';
        font-size: 5vh; 
    }

    .logo {
        border: 2px solid black;
        padding: 0.1vh 1vh;
        font-size: 4vh;
        font-family: 'pacifico';
        transform: skew(5deg, 0deg);
    }

    .sayHello { 
        font-size: 2.5vh;   
        right: 0;
    }

    button {
        font-size: medium;
        left: 47.7%;
        transform: translate(-50%, 0px);
    }

}

.sd-blue{
    width: 50%;
    height: 100vh; 
    position: absolute;
    right: 0;
    background-color: #FFEEBB;
    color: white;
    transition: 1s ease;
}

.repo-responsive {
    height: 224vh;
}

.container { 
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    .windowProgram {
        position: fixed;
        left: 25%;
        top: 20vh;
        width: 50vw;
        height: 50vh;
        background-color: #fdefc6af;
        border: 2px solid #A3423C;
        padding: 50px;

        .programName {
            position: absolute;
            left: 2.8vw;
            top: 16px;
            font-size: 10px;

            h2 {
                margin: 0;
            }
        }

        .close {
            position: absolute;
            top: 6px;
            right: 6vh;
            padding: 5px;
            transition: .5s ease;

            svg {
                width: 3vh;
                height: auto;
            }

            &:hover {
                background-color: #A3423C;
                cursor: pointer;

                svg {
                    path {
                        stroke: white;
                    }
                }
            }
        }

        .contentProgram {
            width: 100%;
            height: 100%;
            border: 2px solid#A3423C;
            padding: 50px;

            p {
                line-height: 2vw;
                font-size: 1.1vw;
            }
        }
    }

    .hover-left, .hover-right, .hover-bottomLeft, .hover-bottomRight {
        position: absolute;
    }
    
    .hover-left {
        background-color: #FFEEBB;
        left: 0;
        height: 100vh;
    }
    
    .hover-right {
        background-color: #FFFCDC;
        right: 0;
        height: 100vh;
        z-index: 1;
    }
    
    .hover-bottomLeft {
        background-color: #FFEEBB;
        bottom: 0; 
        width: 100%;
        z-index: 1;
    }

    .hover-bottomRight {
        background-color: #FFFCDC;
        bottom: 0; 
        width: 100%;
        z-index: 1;
    }

    .nav { 
        padding: 2vh;
    
        .work {
            position: absolute;
            top: 50%;
            transform: rotate(90deg);
            transition: 1s;
            cursor: pointer;
        }

        .repo {
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(90deg);
            transition: 1s; 
            cursor: pointer;
            z-index: 1;
        }

        .sosmed {
            height: 30vh;
            position: fixed;
            bottom: 0;
            left: 7vh;
            display: flex;
            flex-direction: column; 

            svg {
                width: 1.6em;
                height: 1.6em;
                margin: 8px auto;
                display: block;
                transition: 1s
            }

            span {
                position: relative;
                bottom: 0px;
                left: 48%;
                width: 3px;
                height: 100%;
                background-color: #000;
            }
        }
        
        .about {
            position: absolute;
            bottom: 5vh;
            left: 35%;
            transition: 1s;
            cursor: pointer;
            z-index: 1;
        }

        .myskill {
            position: absolute;
            bottom: 5vh;
            right: 35%;
            transition: 1s;
            cursor: pointer;
            z-index: 1;
        }
    }

    .ropes{
        width: 400vh;
        height: 4vh;
        background-image: url("../public/asset/png/ropes.png");
        background-repeat: repeat-x;
        background-size: 28vh ;
        position: fixed;
        top: 13rem;
    }
    
    .title-repo {
        position: fixed;
        z-index: 1;
        font-size: 4rem;
        font-family: 'inter-semi';
        bottom: 10vh;
        right: -20vh;
        opacity: 0.2;
        letter-spacing: 10px;
        color: #A3423C;
    }

    .frame {
        width: 100%;
        height: 40vw;
        background-image: url("../public/asset/png/frame.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 38vw;
    }
    
    .content-myskill {
        width: 39vw; 
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: flex;

        .skill {
            width: 28vw;
            height: 28vw;
            border: 1px solid #A3423C;
            position: absolute;
            top: 5vw;
            left: 16%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2vw;
            font-size: 1vw;
            color: #A3423C;
        }
    }

    .content-slider { 
        height: 50vh;
        transform: translateX(10px);
        position: fixed;
        top: 12rem;
        left: calc(10rem + 15vw);
        padding-top: 5vh;
        padding-left: 4vh;
        display: flex;
        justify-content: space-around;

        .card {
            width: 19rem;
            height: 40vh; 
            border-top-right-radius: 7vh;
            border-bottom-left-radius: 7vh;
            display: inline-flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1.5vw;
            background-color: #fff4e6;
            border: 2px solid #A3423C;
            margin-right: 8rem;
            z-index: 1;
            transition: .5s ease;

            .clothspin{
                width: 10vw;
                height: 65px;
                position: absolute;
                top: -5px; 
                background-image: url("../public/asset/png/pin2.png");
                background-size: 50px;
                background-repeat: no-repeat;
                background-position: center;
                transform: rotate(10deg);
            }

            h2 {
                font-size: 1.2vw;
                padding-bottom: 10px;
                border-bottom: 3px solid #A3423C;
            }
            
            p {
                font-size: 0.9vw;
                line-height: 20px;
            }

            .tag {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                
                p {
                    margin: 0;
                    margin-bottom: 5px;
                }
            }

            div {
                display: flex;
                justify-content:space-between;

                button {
                    height: 4vh;
                    width: 16vh;
                    border-radius: 0 0 0 50px;
                    border: 0;
                    background-color: #A3423C;
                    color: white;
                    font-size: 2.2vh;
                }

                svg {
                    width: 3.2vh;
                    height: auto;
                    fill: #A3423C;
                }
            }

            &:hover{
                background-color: #A3423C;
                color: white;
                
                h2 {
                    border-bottom: 3px solid #FFEEBB;
                }
                
                div {
                    button{
                        background-color: #fff4e6;
                        color: #000;
                        cursor: pointer;
                    }
                    
                    svg {
                        cursor: pointer;
                        fill: white;
                    }
                }
            }
        }
    }

    .content {
        width: 65vw; 
        position: fixed;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: flex;

        .left-content{
            width: 50%;
            position: relative;
            padding: 7vh 3vw;
            border-top: 2px solid black;
            border-left: 2px solid black;
            border-bottom: 2px solid black;

            .intro-text {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;

                h1 {
                    margin-bottom: 2vh;
                    font-size: 5vw;
                    transition: 1s ease-out;

                    span {
                        font-family: Calibri;
                    }
                }

                p {
                    font-family: 'inter';
                    font-size: 2vw;
                    transition: 1s ease-out;

                    &:last-child{
                        font-family: 'inter-light';
                        font-size: 1.6vw;
                        transition: 1s ease-out;
                    }
                }

            }
            
        }
        .right-content{
            width: 50%;
            position: relative; 
            border-top: 2px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;

            .intro-text {
                display: flex;
            }

            span {
                overflow: unset !important;
                img {
                    width: auto !important;
                    height: auto !important;
                    max-height: unset !important;
                    top: unset !important;
                    right: unset !important; 
                }
            }

            div {
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                svg { 
                    height: unset !important;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}

// end spesifik style